h5py==2.10.0
numpy==1.18.1
opencv-python==4.1.0.25
pandas==0.24.2
Pillow==6.1.0
scikit-learn==0.20.3
scipy==1.4.1
tensorboard==1.14.0
tensorboardX==1.6
torch==1.4.0
torchvision==0.5.0

# tested on
# cuda toolkit 10.1
# cudnn library 7.6.5
# ubuntu 18.04.4
